<div class="card-product">
  <img src="https://picsum.photos/200" />
  <div class="card-product-infos">
  <p><strong><%= flat.name %></strong></p>
  <p><%= flat.address %></p>
  <p><%= flat.price_per_night %><i class="fas fa-dollar-sign"></i>/per night</p>
  <p><i class="fas fa-users"></i>:<%= flat.number_of_guests %></p>
  </div>

</div>
